[submodule "src/fanuc"]
	path = src/fanuc
	url = https://github.com/ros-industrial/fanuc.git
	branch = melodic-devel
[submodule "src/fanuc_experimental"]
	path = src/fanuc_experimental
	url = https://github.com/xabbudm/fanuc_experimental.git
	branch = fanuc_m20id35

